.blogPostContainer {
  margin: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.cardTitle {
  font-size: 1rem;
  padding: 0 1rem;
}

.authorContainer {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  color: #7c7979;
}
.coverPhoto {
  border-radius: 0.7rem 0.7rem 0 0;
  flex: 0 0 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 660px) {
  .blogPostContainer {
    max-width: 300px;
  }
}
